body {
  background: url("goat.png") no-repeat;
  background-position: center center;
  background-size: cover;
  color: green;
  margin: 0;
}

.oval-menu {
  background-color: green;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 40px; /* 垂直居中文本 */
}
