body {
  background: url("goat.png") no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
}

header {
  background-color: transparent;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
}

.image-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image-container img {
  width: 100px; 
  margin-right: 10px;
}

.barkground-image {
  width: 100px;
  margin-right: 10px;/
}

marquee {
  width: 100%;
  white-space: nowrap;
  color: blue;
  font-size: 20px;
}

.image-container img {
  width: 100px;
  margin: 5px;
}

.transparent-background {
  background-color: transparent;
  color: purple;
}
